.wrapper {
  @apply fixed z-40 top-0 inset-x-0 h-16 p-8 flex justify-between items-start;

  .logoWrapper {
    @apply flex-none;

    .logo {
      @apply w-10 md:w-14 h-auto;
    }
  }

  .navs {
    @apply hidden md:flex items-center justify-end gap-6;

    .nav {
      @apply text-white cursor-pointer font-semibold text-base flex items-center justify-center overflow-hidden;

      &:focus {
        @apply outline-none ring-0;
      }

      &.active {
        @apply text-opacity-50;
      }
    }
  }

  .mobileNav {
    @apply relative block md:hidden;

    .hamburger {
      @apply z-50;

      .line1 {
        @apply w-9 h-0.5 bg-white absolute top-2 right-0 transition-all duration-150;

        &.active {
          @apply rotate-45 translate-y-3;
        }
      }

      .line2 {
        @apply w-9 h-0.5 bg-white absolute top-4 right-0 transition-all duration-150;

        &.active {
          @apply opacity-0;
        }
      }

      .line3 {
        @apply w-9 h-0.5 bg-white  absolute top-6 right-0 transition-all duration-150;

        &.active {
          @apply -rotate-45 -translate-y-2;
        }
      }
    }

    .mobilePanel {
      @apply flex flex-col px-5 py-10 bg-brown shadow-2xl fixed inset-x-0 top-0 text-center space-y-3 transform -translate-y-full transition-all duration-300 ease-in-out;

      &.active {
        @apply translate-y-0;
      }

      .link {
        @apply text-2xl text-white;
      }
    }
  }
}

.special {
  background-color: rgb(245 157 106) !important;
  padding: 5px 10px;
  border-radius: 1rem;
}
