@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-multi-carousel/lib/styles.css";

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.eot");
  src:
    url("./fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Bold.woff2") format("woff2"),
    url("./fonts/Gilroy-Bold.woff") format("woff"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-ExtraBold.eot");
  src:
    url("./fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("./fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("./fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Black.eot");
  src:
    url("./fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Black.woff2") format("woff2"),
    url("./fonts/Gilroy-Black.woff") format("woff"),
    url("./fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.eot");
  src:
    url("./fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Regular.woff2") format("woff2"),
    url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins) !important;
}

.react-multi-carousel-list {
  @apply w-full h-full;
}

.react-multi-carousel-track {
  @apply w-full h-full;
}

.react-multi-carousel-dot-list {
  left: 44px !important;
  bottom: 44px;
  width: fit-content !important;
}

.btn-dark {
  color: white !important;
  background-color: rgb(81 39 53) !important;
}

.btn-light {
  color: white !important;
  background-color: rgb(245 157 106) !important;
}

.btn-light-ghost {
  color: rgb(245 157 106) !important;
}

.bg-orange {
  color: white !important;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: rgb(245 157 106) !important;
}

.bg-dark {
  color: white !important;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: rgb(81 39 53) !important;
}

.btn-light-2 {
  color: black !important;
  background-color: rgb(245 157 106) !important;
}

[class^="c-"],
[class*=" c-"] {
  font-family: var(--font-poppins) !important;
  color: black;
}

.hover-dark-to-light {
  background-color: rgb(81 39 53) !important;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #171717 !important;
  }
}

.light-round-badge {
  background-color: rgb(245 157 106) !important;
  color: white !important;
  width: 2.5em;
  text-align: center;
  height: 2.5em;
  padding: 2px 5px;
}